/*------------------ Override Navbar Section----------------*/
#contactRoot #nav-bar {
  background-image: none !important;
  background-color: #343a40 !important;
}
/*------------------ Contact Us Section----------------*/
#contactSection #mainDivider {
  width: 80%;
  margin: auto;
}
#contactSection h1 {
  margin: 20px auto;
  font-size: 2.6em;
  text-align: center;
}
#contactSection h3 {
  font-size: 1.5em;
  text-align: center;
}
#contactContainer {
  margin: 30px auto 32px;
}
#contactForm .form-label {
  font-size: 1.3em;
}
#contactForm input {
  border-radius: 20px;
}
#contactForm textarea {
  border-radius: 20px;
  height: 130px;
}
#contactForm #submitButton {
  margin-top: 10px;
  padding:13px;
  border-radius: 20px;
  width: 100%;
  font-size: 1.5em;
  background: -webkit-linear-gradient(
    left,
    rgb(117, 70, 221) 0%,
    rgb(26, 201, 228) 100%
  ) !important;
  border-style: none !important;
}
#contactIllustration {
  margin-top: 25px;
}
div [class*='MuiSnackbar-root MuiSnackbar-anchorOriginTopRight']{
  width: 320px;
}