/*------------------NavBar Section----------------*/
#nav-bar {
  background: rgba(0, 0, 0, 1);
  background-image: linear-gradient(
    30deg,
    rgb(174, 191, 233) 0%,
    rgb(48, 73, 119) 0%,
    rgba(42, 183, 175, 0.86) 60%
  ) !important;
  border-bottom: 1px solid white;
  padding: 2px !important;
}
#nav-bar.scrolled {
  background-image: none !important;
  background-color: #343a40 !important;
}
#basic-navbar-nav a {
  font-family: Montserrat, sans-serif;
  color: #ffffff !important;
  margin-right: 5px;
  padding: 10px 10px;
  text-align: right;
}
#responsiveToggle {
  outline: 0 !important;
  border: 1px solid white;
}
#responsiveToggle i {
  color: white;
}
#logo {
  height: 37px;
  padding-left: 20px;
}
